@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Caveat:wght@400..700&family=Dr+Sugiyama&family=Homemade+Apple&family=Indie+Flower&family=Just+Me+Again+Down+Here&family=Playwrite+DE+LA:wght@100..400&family=Reenie+Beanie&family=Vibur&family=Waiting+for+the+Sunrise&display=swap');

.date{
    margin: 0;
    padding-top: 12px;
    text-align: end;
    opacity: 0.7;
    font-size: 12px;
}

.text{
    margin: 0;
    padding: 0 5px;
}

.author{
    margin: 0;
    text-align: end;
}