.date{
    margin: 0;
    padding-top: 12px;
    text-align: end;
    opacity: 0.7;
    font-size: 12px;
}

.text, .author{
    margin: 0;
    padding: 0 5px;
    font-family: 'OpenDyslexic';
    font-size: 10px;
}

.author{
    font-style: italic;
    text-align: end;
}

.modalTitle{
    font-family: 'Marker';
    font-size: 12px;
}
.modal input, .modal textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}