.backButton, .backButtonBg {
  position: fixed;
  top: 0px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--dark-green); /* usa i tuoi colori */
  font-size: 1.5rem;
  z-index: 9999; /* sempre sopra */
  margin-top: 5px;
  transition: transform 0.2s ease, color 0.2s ease;
}
.backButtonBg {
  background-color: var(--light);
  border-radius: 100%;
  padding: 0px 6px !important;
}

.backButton:hover {
  transform: scale(1.2);
  color: var(--light-green);
}

.backButtonTitle {
  font-family: 'Marker';
}
