.page > section > div  p {
  margin: 0 !important;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fafafa;
  text-align: center;
  height: 100%;
}

.card span {
  font-size: 10px;
}

.icon {
  margin-bottom: 6px;
}

.cardLabel {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
}

.cardValue {
  font-size: 0.85rem;
  margin: 0;
}
