.headerWrapper {
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
}

.headerWrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vw;       /* regola dimensione immagine */
  height: 15rem;
  background: url("/notfound.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.2;       /* immagine semitrasparente dietro */
  transform: translate(-50%, -50%);
  z-index: 0;
  mix-blend-mode: multiply;
}

.title {
  position: relative;
  z-index: 1;         /* scritta sopra l’immagine */
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 5rem 0;
  padding-bottom: 4rem;
  text-shadow: 0 0 5px #EEEAE6;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 0.9rem;
}

.form input,
.form textarea,
.form select {
  margin-top: 0.2rem;
  padding: 0.4rem;   /* input più piccoli */
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

  .checkGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* due colonne */
    gap: 0.5rem;
  }

  .checkLabel {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.9rem;
  }

.row {
  display: flex;
  gap: 1rem;
}

.row label {
  flex: 1;
}

.accordion {
  background-color: #00000000 !important;
}

.accordion > *{
  background-color: #00000000 !important;
  border: none !important;
}

.accordion button {
  font-weight: bold !important;
  padding: 12px 0px !important;
  background-color: #00000000;
  border: none !important;
}


.submitBtn {
  margin-top: 1rem;
  padding: 0.8rem;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.submitBtn:hover {
  background: #43a047;
}