.treeImg{
    mix-blend-mode: multiply;
    opacity: 0.85;
    position: relative;
    left: -5vw !important;;
    width: 55vw !important;
    object-fit: contain;
    padding-right: 2vw;
}

.treeTitle{
    line-height: 30px;
    text-align: center;
}

.treeInfo{
    line-height: 20px;
    font-size: 14px !important;
}
.treeInfo>p, .treeInfo>ul{
    margin: 0;
}
.treeInfo>p{
    margin-top: 15px;
}
.treeInfo>ul{
    line-height: 24px;
    font-size: 12px !important;
}