.timelineContainer {
  position: relative;
  width: 100%;
}

.timelineBar {
  position: relative;
  height: 4px;
  background: linear-gradient(90deg, #4c4646, #aaa);
  border-radius: 3px;
}

.tick {
  position: absolute;
  top: -2px;
  width: 2px;
  height: 8px;
  background: #533e32;
}

.tickLabel {
  position: absolute;
  top: 18px;
  font-size: 0.7rem;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #555;
}

.eventDot {
  cursor: pointer;
  background-color: #b89c8c;
  border: 3.5px double #533e32;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: transform .2s, background .2s;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eventDot:hover {
  transform: translate(-50%, -50%) scale(1.2);
  background-color: #b8b28c;
}

.today {
  background-color: #dc3545; /* rosso per evidenziare oggi */
  box-shadow: 0 0 6px rgba(220, 53, 69, 0.6);
}

.eventInfo {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}

.dropdownCustom {
  margin-top: 10px;
  font-family: inherit;
}

.dropdownCustom > button {
  background-color: #eaeaea !important;
  color: #533e3285 !important;           /* testo marrone */
  border: none !important;
  font-style: italic;
  font-size: 14px !important;
  padding: 0;
}

.dropdownCustom > button:hover {
  background-color: #eaeaea !important;
  color: #533e3285 !important;
  text-decoration: underline;
}

.dropdownMenuCustom {
  padding: 0px 10px;
}
.dropdownCheck input:checked{
  background-color: #533e3285;
  border: #533e32 solid 1px;
}
.dropdownCheck label {
  font-size: 0.9rem;
  color: #3a2c2c;
}

.filterButton {
  background-color: inherit !important;
  color: #533e3285 !important;
  border: solid 1px #533e3285 !important;
  border-radius: 6px !important;
  padding: 4px 10px !important;
}
