.timelineContainer {
  margin-top: 30px;
  position: relative;
  width: 100%;
}

.timelineBar {
  position: relative;
  height: 4px;
  background: linear-gradient(90deg, var(--dark-noir), var(--light-green));
  border-radius: 3px;
}

.tick {
  position: absolute;
  top: -2px;
  width: 2px;
  height: 8px;
  background: var(--dark-noir);
}

.tickLabel {
  font-family: 'Oneday', sans-serif;
  position: absolute;
  top: 18px;
  font-size: 0.7rem;
  transform: translate(-50%,-50%);
  white-space: nowrap;
  color: var(--dark-green);
}

.tickLabelTop {
  top: -18px;  /* sopra */
}

.tickLabelBottom {
  top: 18px;   /* sotto */
}

.eventDot {
  cursor: pointer;
  background-color: var(--light) ;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: transform .2s, background .2s;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.eventDot:hover {
  transform: translate(-50%, -50%) scale(1.3);
  background-color: var(--flame);
  box-shadow: inset 0 0 0 2px var(--light), 0 0 5px 0.01px var(--dark-noir) !important;
}
.dateEvent {
  font-family: 'Oneday', sans-serif;
  font-size: 11px;
}
.eventInfo {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}

.dropdownCustom {
  margin-top: 10px;
  font-family: inherit;
}

.dropdownCustom > button {
  background-color: var(--light) !important;
  color: #43434185 !important;           /* testo marrone */
  border: none !important;
  font-style: italic;
  font-size: 14px !important;
  padding: 0;
}

.dropdownCustom > button:hover {
  background-color: #eaeaea !important;
  color: #43434185 !important;
  text-decoration: underline;
}

.dropdownMenuCustom {
  padding: 0px 10px;
  top: -200%;
}
.dropdownCheck input:checked{
  background-color: var(--noir);
  border: var(--light-noir) solid 1px;
}
.dropdownCheck label {
  font-size: 0.9rem;
  color: var(--noir);
}

.filterButton {
  font-family: 'Oneday', sans-serif;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 2px 10px 4px !important;
}
