.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease forwards;
}

.page p,
.page a {
  z-index: 5 !important;
  font-size: 10px;
}
.page .colInfo {
  min-height: 250px;
}

.page button {
  margin: 5px;
}

.page button svg {
  font-size: 16px;
}

/* Container per l'immagine */
/* .imageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: visible;
} */

.treeImg,
.treeImgDef {
  mix-blend-mode: multiply;
  opacity: 0.85;
  /* position: relative; */
  /* left: -5vw !important;
  top: -6vh !important;
  max-width: 52vw !important; */
  object-fit: contain;
  /* padding-right: 2vw; */
  z-index: 1 !important;
}

.treeImgDef {
  top: 0vh !important;
  width: 48vw !important;
  opacity: 0.2;
}

.imagePlaceholder {
  position: absolute;
  top: 0;
  left: -5vw;
  width: 55vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #666;
  mix-blend-mode: multiply;
  opacity: 0.85;
  z-index: 1;
}

.treeTitle {
  line-height: 30px;
  text-align: center;
}

.nameLink {
  text-decoration: underline solid var(--dark-noir);
  color: var(--dark-noir);
  border: 1px solid var(--light-noir);
  border-radius: 5px;
  padding: 2px 5px;
  margin: 10px;
  font-family: "Marker";
  font-size: 14px !important;
  -webkit-text-stroke-width: 0.09px;
  -webkit-text-stroke-color: var(--light);
}

.treeInfo {
  line-height: 20px;
  font-size: 16px !important;
  padding-left: 0;
}
.treeInfo > div {
  padding-left: 5vh !important;
}
.treeInfo p,
.treeInfo ul {
  margin: 0;
  font-size: 14px;
}
.treeInfo p {
  margin-top: 15px;
}
.treeInfo ul {
  line-height: 24px;
  font-size: 10px !important;
  padding-left: 2vh !important;
  list-style-position: inside;
}

.treeInfoCriteri {
  line-height: 24px;
  font-size: 10px !important;
  padding-left: 2vh !important;
  list-style-position: inside;
  list-style: none;
  padding-left: 0;
}

.treeInfoCriteri li {
  position: relative;
  padding-left: 10px;
  margin-top: 8px;
  line-height: 14px;
}

.treeInfoCriteri li::before {
  content: "•"; /* bullet personalizzato */
  position: absolute;
  left: 0;
  top: 0;
}

.treeInfoPlace {
  margin: 0 !important;
  padding-top: 5px;
  font-size: 8px !important;
  line-height: 16px;
}

.treeInfoPlace a {
  text-decoration: underline solid var(--dark-noir);
}

/* Bottone foto */
.photoButton {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  border-radius: 50%;
  padding: 12px;
  background-color: #f1f1f1 !important; /* colore neutro */
  border: 1px solid #ccc !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.photoButton:hover {
  background-color: #e0e0e0 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
