@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Reenie+Beanie&display=swap');


.content {
  position: relative;
  padding: 20px;
  font-size: 1rem;
  color: #222;
}

.chat {
  display: flex;
  flex-direction: column;
}

.message {
  white-space: pre-line;
}

.bot {
  /*font-family: 'Just Me Again Down Here', cursive; /* scrittura bot */
  /*font-family: 'Reenie Beanie', cursive; /* scrittura bot */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 550;
  color: var(--dark-noir);
  line-height: 20px;
  text-align: left;
  margin-right: 10px;
}

.user {
  color: var(--green);
  text-align: right;
  margin: 10px 0 0 10px;
}

/* Barra scorrevole di bottoni */
.quickReplies {
  position: fixed;
  bottom: 60px; /* sopra input */
  left: 0;
  right: 0;
}

.quickScroll {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  padding-bottom: 0.3rem;
}

.quickScroll button {
  flex: 0 0 auto;
  opacity: 0.9;
  padding: 0.4rem 0.8rem;
}
.quickScroll button:first-child {
  margin-left: 0.5rem;
  padding: 0.4rem 0.8rem;
}

.micBtn {
  background: #cce;
}

/* Input bar */
.inputBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-top: 1px solid #ccc;
  background: #fff;
  padding: 0.4rem;
}

.inputBar input {
  flex: 1;
  border: none;
  padding: 0.6rem;
  border-radius: 20px;
  outline: none;
  margin-right: 0.5rem;
  background: #f5f5f5;
}

.inputBar button {
  border: none;
  background: #4caf50;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 50%;
}