@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Reenie+Beanie&display=swap');


.content {
  position: relative;
  padding: 20px;
  font-size: 1rem;
  color: #222;
}

.chat {
  display: flex;
  flex-direction: column;
}

.message {
  white-space: pre-line;
}

.bot {
  /*font-family: 'Homemade Apple', cursive; /* scrittura bot */
  font-family: 'Reenie Beanie', cursive; /* scrittura bot */
  font-weight: bold;
  line-height: 18px;
  font-size: 17px;
}

.user {
  font-style: italic;
  text-align: center;
  color: #555;
  font-size: 14px;
  margin: 10px 20px 0;
}

.quickReplies {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.quickReplies button {
  flex: 1;
  padding: 0.6rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 6px;
  background: #6c584c;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.quickReplies button:hover {
  background: #5a463a;
}

.micBtn {
  width: 40px;
  flex: none;
  border-radius: 50%;
  font-size: 1.2rem;
  background: #c7b198;
}

.inkLeft {
  position: absolute;
  top: 10%;
  left: -20px;
  width: 60px;
  opacity: 0.6;
}

.inkRight {
  position: absolute;
  bottom: 15%;
  right: -20px;
  width: 60px;
  opacity: 0.6;
}
